* {
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-y: scroll;
    background: #eee;
}

h2 {
    margin: 0 0 20px 0;
}

.frame__label {
    font-size: 60%;
    font-style: italic;
    font-weight: 300;
    vertical-align: middle;
}

#url input[type=submit] {
    display: none;
}

#url #options input {
    margin-top: 5px;
}

#frames {
    overflow-x: scroll;
    margin-bottom: 10px;
    padding-bottom: 20px;
    margin: 80px 20px;

}

.frame {
    margin-right: 20px;
    float: left;
}



.frame img {
    display: none;
    vertical-align: middle;
}

iframe {
    border: solid 1px #000;
}

.widthOnly .frame__height,
.widthOnly .frame__separator {
    display: none;
}

.widthOnly iframe {
    height: 500px;
}

.bg-purple {
    background: #3D0773;
    color: #fff;
}


/** Custom Scroll Bar **/

#frames::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#frames::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#frames::-webkit-scrollbar-thumb {
    background-color: #3D0773;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}


/** LOGO **/

.navbar-brand {
    font-weight: 600;
}


/** Footer **/

footer {
    padding: 3rem 2rem;
}

footer p {
    color: #fff;
    font-weight: 300;
    font-size: 0.8rem;
}

footer a {
    color: #ccc;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}


.equalHeight .iframe__item{
    height: 450px !important;
}